* {
  font-family: Raleway;
}

nav {
  border-bottom: 1px solid #333;
  background-color: #2c3e50;
  color: #FFFFFF;
}

.home-section {
  background-color: #18bc9c;
  color: #FFFFFF;
  border-bottom: 2px solid #333;
  margin-bottom: 2.5em;
}

.profile-image {
  border-radius: 5em;
}
