* {
  font-family: Raleway;
}

nav {
  border-bottom: 1px solid #333;
  background-color: #343838;
  color: #FFFFFF;
}
.nav>li>a {
  color: #FFFFFF !important;
}

.home-section {
  background-color: #008c9e;
  color: #FFFFFF;
  border-bottom: 2px solid #333;
  margin-bottom: 2.5em;
}

.profile-image {
  border-radius: 5em;
}
